In [1]:
import pandas as pd
import geocoder as gc

In [2]:
a = (1,0)

In [3]:
a[0]

1

In [2]:
df = pd.read_csv('./country_data.csv')

In [3]:
df.head()

                    country
0  United States of America
1  United States of America
2  United States of America
3  United States of America
4                     Egypt

In [4]:
df = df.value_counts().rename_axis('country').reset_index(name='counts')

In [19]:
df

                    country  counts  wtf
0  United States of America       4    8
1                   Morocco       2    4
2                     Ghana       2    4
3                   Nigeria       1    2
4                     Egypt       1    2

In [10]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df['wtf'] = df['counts'] *2

In [6]:
import googlemaps
gmaps = googlemaps.Client(key='AIzaSyDiyAIGooRaOkAvwwyT3jje6IzoByA4KHw')

In [9]:
# Geocoding an address
geocode_result = gmaps.geocode('1600 Amphitheatre Parkway, Mountain View, CA')

In [10]:
geocode_result[0].get('geometry').get('location')

{'lat': 37.4221694, 'lng': -122.0840641}

In [12]:
for index,row in df.iterrows():
    print(row['country'])

United States of America
Morocco
Ghana
Nigeria
Egypt

In [15]:
for index,row in df.iterrows():
    df['longitude'] = (gmaps.geocode(row['country'][1]))

ValueError: Length of values (1) does not match length of index (5)

In [11]:
df['longitude'] = (gmaps.geocode(df['country'][1]))[0].get('geometry').get('location').get('lat')
df['latitude'] = (gmaps.geocode(df['country'][1]))[0].get('geometry').get('location').get('lng')

In [12]:
df

                    country  counts  longitude  latitude
0  United States of America       4  31.791702  -7.09262
1                   Morocco       2  31.791702  -7.09262
2                     Ghana       2  31.791702  -7.09262
3                   Nigeria       1  31.791702  -7.09262
4                     Egypt       1  31.791702  -7.09262